*{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 100px;
  background-color: pink;
  clear: both;
}

main{
  width: 90%;
  height: 500px;
  background-color: lightblue;
  float: left;
}

aside{
  width:10%;
  height: 500px;
  background-color: mediumseagreen;
  float:right;
}

footer{
  width: 100%;
  height: 75px;
  background-color: lawngreen;
  clear: both;
}
.colunas1{
  width: 50%;
  height: 100%;
  color: white;
  float: left;
  background-color: brown;
}
.coluna2{
  width: 50%;
  height: 100%;
  color: white;
  float: right;
  background-color: green;
}



